// 头部
.site-layout-background {
    color: #fff;
    font-weight: bolder;
    font-size: 24px;
    padding-left: 50px;
}

// 左边
.ant-menu ant-menu-root ant-menu-inline ant-menu-dark {
    margin-top: 50px;
}